:root {
  --font-fam-thin: "Josefin Sans", sans-serif;
  --font-fam-thicc: "Alata", sans-serif;
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
  --fs-xl: 3rem;
  --fs-600: 1.5rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;
  --fs-body: 15px;
}

/* GENERAL */
body {
  margin: 0;
  overflow-x: hidden;
  font-size: var(--fs-body);
}

* {
  box-sizing: border-box;
}

.page {
  min-height: 100vh;
}

/* DISPLAYS */
.flex {
  display: flex;
  gap: 2rem;
}

.grid {
  display: grid;
}

/* 
        NAVIGATION
*/

.logo {
  position: absolute;
  z-index: 666;
}

.first-header {
  position: sticky;
  align-items: center;
  justify-content: space-between;
  padding: 2em 0;
  margin: 0 2em;
}

.mobile-nav-toggle {
  display: none;
}

.primary-navigation {
  padding: 0;
  margin: 0;
  list-style: none;
  align-self: center;
}

.primary-navigation a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

.primary-navigation a:hover {
    border-bottom: 3px solid white;
}

main {
  flex-direction: column;
  background: url("images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  max-width: 1440px;
  background-size: cover;
}

h1 {
  /* justify-self: center; */
  /* font-size: clamp(1rem, 5vh, 4rem); */
  font-size: var(--fs-xl);
  margin-top: 10%;
  margin-left: 2%;
  width: 45%;
  border: 1px solid white;
  color: white;
  /* margin: 32px; */
  padding: 30px;
}

h2, h3 {
    font-size: 2rem;
}

a {
  font-family: var(--font-fam-thicc);
}

button {
    font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
p,
span,
button {
  font-family: var(--font-fam-thin);
}

p,
span,
a {
  font-size: var(--fs-body);
}

a,
.top-block button {
  cursor: pointer;
}

/* 
    second block
*/
.second-block {
  padding: 8vw;
}

.second-container {
  grid-template-columns: 40vw 1fr;
}

.text-block {
  align-self: end;
  padding: 2vh 4vw 0 6vw;
  z-index: 1;
  background: white;
}

/* CREATIOOONS GRID */
.top-block {
  justify-content: space-between;
  padding: 0 8vw;
  align-items: center;
}

.top-block button {
  background: white;
  border: 1px solid black;
  /* font-size: 1.5rem; */
  padding: 0.5vh 1.5vw;
}

.top-block button:hover {
  background: black;
  color: white;
}

.images-container {
  margin: 0 8em 8em;
}

.row {
  min-height: 60vh;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 2em;
}

.single-image {
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
  
}

.single-image:hover {
  cursor: pointer;
  -webkit-animation: flash 1.5s;
    animation: flash 1.5s ease-in-out;
}

@keyframes flash {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

/* SET EACH IMAGE */
#earth {
  background-image: url("images/desktop/image-deep-earth.jpg");
}

#arcade {
  background-image: url("images/desktop/image-night-arcade.jpg");
}

#soccer {
  background-image: url("images/desktop/image-soccer-team.jpg");
}

#grid-img {
  background-image: url("images/desktop/image-grid.jpg");
}

#from-above {
  background-image: url("images/desktop/image-from-above.jpg");
}

#borealis {
  background-image: url("images/desktop/image-pocket-borealis.jpg");
}

#curiosity {
  background-image: url("images/desktop/image-curiosity.jpg");
}

#fisheye {
  background-image: url("images/desktop/image-fisheye.jpg");
}

.single-image h4 {
    margin: 0;
  align-self: end;
  font-size: 1.5rem;
  padding: 1em;
  width: 50%;
}

/* 
        FOOTER
*/
footer {
    padding-top: 1em;
  background: black;
  color: white;
}

.flexi {
    display: flex;
    justify-content: end;
    gap: 0;
}

footer img {
    padding: 1em;
}

.foot li a:hover, .right-sm-footer img:hover {
    cursor: pointer;
    border-bottom: 3px solid white;
}

.foot {
  list-style: none;
  padding-left: 0;
}

.container-foot {
    justify-content: space-around;
}

.foot li a {
    border-bottom: 3px solid transparent;
    padding-bottom: 1em;
    margin-left: 1em;
}

.attribution {
  padding: 1em;
  margin: 2em 2em 0;
  border-top: 1px solid white;
  color: white;
  font-size: 11px;
  text-align: center;
}

.attribution a, .foot a {
  color: white;
  text-decoration: none;
}

.right-sm-footer {
    flex-direction: column;
}

.right-sm-footer img {
    border: 3px solid transparent;
}

.rights {
  color: var(--dark-gray);
  margin: 0;
  align-self: flex-end;
}

/* 
        MEDIA QUERIES
*/

@media (max-width: 46em) {
  main {
    background-image: url("images/mobile/image-hero.jpg");
    background-size: cover;
  }

  h1 {
    margin-top: 15vh;
    margin-left: 5%;
    width: 90%;
  }

  .primary-navigation {
    position: fixed;
    inset: 0 0 0 0%;
    flex-direction: column;
    background: black;
    padding: min(20vh, 10rem) 2rem;
    /*   % of its own width off the page   */
    transform: translateX(100%);
    transition: transform 250ms ease-out;
  }

  /*  if primary navigation has data=true  */
  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  /* NAV BUTTON */
  .mobile-nav-toggle {
    display: block;
    position: fixed;
    align-self: center;
    z-index: 666;
    border: 1px solid transparent;
    background: transparent;
    background-image: url("images/icon-hamburger.svg");
    width: 1.5em;
    aspect-ratio: 1;
    top: 2rem;
    right: 2em;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("images/icon-close.svg");
  }

  footer {
    text-align: center;
  }

  .foot {
    display: block;
    margin-bottom: 1em;
  }

  .foot li {
    margin-bottom: 1em;
  }

  .container-foot {
      flex-direction: column;
      align-items: center;
  }

}

@media (max-width: 910px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 1241px) {
  .second-container {
    display: block;
    text-align: center;
  }

  .second-container img {
    width: 90%;
  }

  .row {
    flex-direction: column;
  }

  .background-props {
    background-size: cover;
  }

  .creations {
    position: relative;
  }

  .images-container {
    margin: 0 8vw 6vw;
  }

  .top-block button {
    position: absolute;
    left: 45%;
    bottom: 0;
    align-self: center;
  }

  h3 {
    width: 100%;
    text-align: center;
  }

  button {
      font-size: 1rem;
  }

  /* SET EACH IMAGE */
  #earth {
    background-image: url("images/mobile/image-deep-earth.jpg");
  }

  #arcade {
    background-image: url("images/mobile/image-night-arcade.jpg");
  }

  #soccer {
    background-image: url("images/mobile/image-soccer-team.jpg");
  }

  #grid-img {
    background-image: url("images/mobile/image-grid.jpg");
  }

  #from-above {
    background-image: url("images/mobile/image-from-above.jpg");
  }

  #borealis {
    background-image: url("images/mobile/image-pocket-borealis.jpg");
  }

  #curiosity {
    background-image: url("images/mobile/image-curiosity.jpg");
  }

  #fisheye {
    background-image: url("images/mobile/image-fisheye.jpg");
  }
}
